.DS_Store
*.pyc
*.idea
*.DS_Store
DNBSwipyNavigationController.xcodeproj/project.xcworkspace
DNBSwipyNavigationController.xcodeproj/xcuserdata

DNBSwipyNavigationController.xcodeproj/project.xcworkspace/xcuserdata/drunknbass.xcuserdatad/UserInterfaceState.xcuserstate
